@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-sans: "Outfit", sans-serif;
}